/* ******************************************** */
/* ***************** FUENTES ****************** */
/* ******************************************** */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
/* ******************************************** */
/* ***************** FUENTES ****************** */
/* ******************************************** */


/* ******************************************** */
/* ***************** VARIABLES **************** */
/* ******************************************** */
blanco = #FFFFFF
marron = #853201
/* ******************************************** */
/* ***************** VARIABLES **************** */
/* ******************************************** */

*
	margin 0
	padding 0

body 
	background #FFFFFF
	font-family 'Roboto' sans-serif
	font-size 16px
	font-weight normal
	
footer
	height auto
	margin .5em 0 1em 1em
	width auto
	a
		color #333
	a:hover
		text-decoration none
	p
		color grey
		font-size .8em
		line-height 20px
	
header
	background #000000
	padding-top 2.5em
	.Logo
		margin 0 auto
		max-width 11000px
		padding 1em 0 .5em 0
		text-align center
		width 100%
		h1
			color #FFFFFF
			font-family 'Open Sans' sans-serif
			font-size 1.7em
			font-weight 100
			margin 0
			padding 0
			
.Pre__header
		background red
		height auto
		padding .5em 0 .5em 0
		position fixed
		text-align center
		top 0
		width 100%
		ul li
			display: inline-block
			font-size .8em
			padding 0 1em 0 1em
			a
				color #FFFFFF
				text-decoration none
			a:hover
				text-decoration underline
				
.Destacados
	height auto
	margin 0 auto
	max-width 1100px
	width 100%
	.Col__1
		height auto
		text-align center
		display inline-block
		width 20%
		a
			background #ffa500
			border-radius 5px
			-webkit-border-radius 5px
			-moz-border-radius 5px
			-o-border-radius 5px
			-ms-border-radius 5px
			color #FFF
			padding .5em 3em .5em 3em
			text-decoration none
		a:hover
			background #ff9600
		h2
			color #333
			font-size 1em
			font-weight normal
			line-height 25px
			margin 0 0 .5em 0
		p
			color grey
			margin 0 0 1em 0
	.Col__2
		text-align center
		display inline-block
		width 20%
		a
			background #ffa500
			border-radius 5px
			-webkit-border-radius 5px
			-moz-border-radius 5px
			-o-border-radius 5px
			-ms-border-radius 5px
			color #FFF
			padding .4em 3em .4em 3em
			text-decoration none
		a:hover
			background #ff9600
		h2
			color #333
			font-size 1em
			font-weight normal
			line-height 25px
			margin 0 0 .5em 0
		p
			color grey
			margin 0 0 1em 0
	.Col__3
		text-align center
		display inline-block
		width 20%
		a
			background #ffa500
			border-radius 5px
			-webkit-border-radius 5px
			-moz-border-radius 5px
			-o-border-radius 5px
			-ms-border-radius 5px
			color #FFF
			padding .4em 3em .4em 3em
			text-decoration none
		a:hover
			background #ff9600
		h2
			color #333
			font-size 1em
			font-weight normal
			line-height 25px
			margin 0 0 .5em 0
		p
			color grey
			margin 0 0 1em 0
	.Col__4
		text-align center
		display inline-block
		width 20%
		a
			background #ffa500
			border-radius 5px
			-webkit-border-radius 5px
			-moz-border-radius 5px
			-o-border-radius 5px
			-ms-border-radius 5px
			color #FFF
			padding .4em 3em .4em 3em
			text-decoration none
		a:hover
			background #ff9600
		h2
			color #333
			font-size 1em
			font-weight normal
			line-height 25px
			margin 0 0 .5em 0
		p
			color grey
			margin 0 0 1em 0
			
	

.Imagenes__aleatorias
	background-image url('../img/img-final.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 330px
	margin 0 0 5em 0 
				
nav
	background #f2f2f2
	border-bottom solid 1px #8e8d8d
	height auto
	margin 0 0 0 0
	padding 1em 0 1em 0
	width 100%
	ul
		height auto
		margin 0 auto
		max-width 1100px
		text-align center
		width 100%
		li
			display inline-block
			font-family 'Roboto' sans-serif
			list-style none
			padding .2em 1.5em 0 1.5em
			a
				color #606060
				text-decoration none
			a:hover
				color red
				

.Marcas
	height auto
	display flex
	display -webkit-flex
	justify-content space-between
	margin 0 auto
	margin-bottom 2em
	margin-top 2em
	max-width 1200px
	width 100%
	.Marcas1
		text-align center
		width 15%
	.Marcas2
		text-align center
		width 15%
	.Marcas3
		text-align center
		width 15%
	.Marcas4
		text-align center
		width 15%
	.Marcas5
		text-align center
		width 15%
	.Marcas6
		text-align center
		width 15%
				

.Promociones
	height auto
	margin 1.7em 0 1.7em 0
	text-align center
	width 100%
	.Col__map1
		display inline-block
		height auto
		width 30%
		ul li
			display inline-block
			text-align left
			padding 0 .5em 0 .5em
			vertical-align middle
			h2
				color lightgrey
				font-size 1.2em
				font-weight 100%
				line-height 26px
				a
					color lightgrey
					text-decoration none
				a:hover
					color #a8a4a4
	.Col__map2
		display inline-block
		height auto
		width 30%
		ul li
			display inline-block
			text-align left
			padding 0 .5em 0 .5em
			vertical-align middle
			h2
				color lightgrey
				font-size 1.2em
				font-weight 100%
				line-height 26px
				a
					color lightgrey
					text-decoration none
				a:hover
					color #a8a4a4
	.Col__map3
		display inline-block
		height auto
		width 30%
		ul li
			display inline-block
			text-align left
			padding 0 .5em 0 .5em
			vertical-align middle
			h2
				color lightgrey
				font-size 1.2em
				font-weight 100%
				line-height 26px
				a
					color lightgrey
					text-decoration none
				a:hover
					color #a8a4a4
					

.Emboltorio
	margin 0 0 5em 0
	

.Maps
	height auto
	display flex
	display -webkit-flex
	justify-content space-between
	width 100%
	.Mapa1
		height auto
		margin 0 0 0 .5em
		width 49%
		h2
			color grey
			font-size 1em
			font-weight 100
			padding .5em 0 .5em 0
			text-align center
		iframe
			height 340px
			width 100%
	.Mapa2
		height auto
		margin 0 .5em 0 0
		width 49%
		h2
			color grey
			font-size 1em
			font-weight 100
			padding .5em 0 .5em 0
			text-align center
		iframe
			height 340px
			width 100%
					

.Ml
	background #f3efef
	height auto
	padding 2.3em 0 2.3em 0
	text-align center
	margin 2em 0 3em 0 
	width 100%
	.Col_Ml-1
		display inline-block
		padding 0 1em 0 1em
		vertical-align middle
	.Col_Ml-2
		display inline-block
		padding 0 1em 0 1em
		vertical-align middle
		a
			color #FFF
			background orange
			border-radius 3px
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			text-decoration none
			padding .4em 1.7em .4em 1.7em
		a:hover
			color #FFF
			background #ff9600
			border-radius 3px
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			text-decoration none
			padding .4em 1.7em .4em 1.7em
		h2
			color grey
			font-size 2em
			font-family 'Voltaire' sans-serif
			font-weight 100


.Slider
	background-image url('../img/imagen-central.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	padding 2.5em 0 0 0
	height 300px	
	

.Titulos
	color #808080
	border-bottom solid 1px lightgrey
	font-family 'Voltaire' sans-serif
	font-size 1.5em
	font-weight 100
	height auto
	text-align center
	margin 0 auto
	margin-bottom 2em
	max-width 1200px
	width 100%
	
.Redes
	background #375794
	height auto
	display flex
	display -webkit-flex
	justify-content space-between
	padding 2em 0 2em 0
	width 100%
	.Redes1
		height auto
		text-align center
		width 50%
		ul li
			list-style none
			margin 0 0 1em 0
			a
				color #FFF
				border-radius 5px
				-webkit-border-radius 5px
				-moz-border-radius 5px
				-o-border-radius 5px
				-ms-border-radius 5px
				background #ffa500
				text-decoration none
				padding .5em 1em .5em 1em
			a:hover
				background #ff9600
	.Redes2
		height auto
		text-align center
		width 50%
		ul li
			list-style none
			margin 0 0 1em 0
			a
				color #FFF
				border-radius 5px
				-webkit-border-radius 5px
				-moz-border-radius 5px
				-o-border-radius 5px
				-ms-border-radius 5px
				background #ffa500
				text-decoration none
				padding .5em 1em .5em 1em
			a:hover
				background #ff9600
			
			

			
	